.shop-item-container {
  max-width: 240px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
}

.shop-item-container:hover {
  -webkit-box-shadow: 2px 28px 28px 5px rgba(0, 0, 0, 0.04);
  box-shadow: 2px 28px 28px 5px rgba(0, 0, 0, 0.04);
}

.shop-item-image-container {
}

.shop-item-image {
  width: 100%;
}

.shop-item-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shop-item-product-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.shop-item-product-name a {
  color: #333;
  text-decoration: none;
}

.shop-item-product-name a:hover {
  color: cadetblue;
}

.shop-item-product-description {
  margin: 0;
  font-size: 14px;
  line-height: 1.25;
}
.price-cart {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.btn-add {
  all: unset;
  background: #5f9ea0;
  color: #ffffff;
  font: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add:hover {
  background: #7ab9bb;
}
