* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-container {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.left-box {
  display: flex;
  height: 400px;
}

.right-box {
  max-width: 500px;
}

.right-box h1 {
  font-size: 8rem;
  color: #5f9ea0;
}
